<div class="main-text-landing">
    <p>Ĝis est un outil de collaboration cartographique.<br/> Il permettra d’associer des informations à un territoire.</p>
    <p>Comme par exemple :</p>
    <ul class="main-text-landing-ul">
        <li>préparer le parcours et les étapes d’une randonnée,</li>
        <li>répertorier des défauts d’infrastructure.</li>
    </ul>
    <p class="main-text-landing-p">Nous sommes à l’écoute des besoins pour un tel outil dans des structures existantes.
    <a href=" https://gitlab.com/CodeursEnLiberte/gxis/-/blob/main/README.md#user-content-how-to-contribute" target="_blank">Contactez-nous</a>
    si vous souhaitez faire part des votres.</p>
</div>
