<div>
    <div class="main-text-landing">
        <p>Gxis sera un outil de collaboration cartographique.<br/> Il permettra d’associer des informations à un territoire.<br/><br/></p>
        <p>Comme par exemple :<br></p>
        <ul class="main-text-landing-ul">
        <li>préparer le parcours et les étapes d’une randonnée,</li>
        <li>répertorier des défauts d’infrastructure. <br/></li>
        </ul>
        <p class="main-text-landing-p">Nous sommes à l’écoute des besoins pour un tel outil dans des<br/> structures existantes.<a href="#" style="color:#4d7a5d;"> Contactez-nous </a>si vous souhaitez faire part des <br/>votres.</p>
    </div>
</div>