<div class="container landing-page__container">
  <div class="landing-page__main-text">
    <%= t(".landing_1_header_html") %>
    <ul class="landing-page__main-text__ul ">
      <%= t(".landing_2_examples_html") %>
    </ul>
    <p class="landing-page__main-text__p">
      <%= t(".landing_3_footer_html") %>
    </p>
  </div>
</div>
