<table>
    <thead>
        <tr>
            <th>Coordinates</th>
            <% fields.each do |field| %>
                <th class="field-<%= field.id %>"><%= field.label %></th>
            <% end %>
            <th id="delete-column">Delete</th>
        </tr>
    </thead>
    <tbody id="points-tbody">
    <% points.each do |point| %>
        <%= render point, fields: fields %>
    <% end %>
    </tbody>
</table>
