<table>
    <thead>
        <tr>
            <th>Coordinates</th>
            <%= render partial: "fields/th", collection: @layer.fields, as: :field %>
            <th id="delete-column"></th>
        </tr>
    </thead>
    <tbody id="points-tbody">
    <%= render @layer.points %>
    </tbody>
</table>
