<tr id="<%= dom_id(@layer, :stats) %>" class="layer-table__tr--stats">
  <%= calculated_columns %>
  <% @layer.fields.each do |field| %>
    <td class="layer-table__td--numerical layer-table__td--stats"> <%= number_to_human(field.sum) %> </td>
  <% end %>
  <td></td>
</tr>
