<tr id="<%= dom_id(@layer, :stats) %>" class="layer-table__tr--stats">
  <%= calculated_columns %>
  <% @layer.fields.each do |field| %>
    <td class="layer-table__td layer-table__td--numerical layer-table__td--stats"> <%= field.sum %> </td>
  <% end %>
  <td></td>
</tr>
