<button
  type=button
  class="button button--slim button--link button--with-icon"
  data-modal-id-param="<%= id %>"
  data-action="click->modal#show">
  <span><%= Row.human_attribute_name(:files, count: @value.length) %></span>
</button>
<template id="<%= id %>">
  <%= render FileComponent.new(value: @value, field_name: @field_name, row: @row) %>
</template>
