<turbo-frame id="modal">
  <div data-controller="modal" class="modal__overlay" id="modal-container"
       data-action="click->modal#closeFromOutside turbo:submit-end->modal#submitEnd keydown.esc@window->modal#escape">
    <div class="bordered-box modal__box">
      <div class="modal__close-button">
        <button class="button button--close" data-action="modal#close" title="<%= t("common.close") %>"><%= helpers.embedded_svg "close.svg" %></button>
      </div>
      <div data-modal-target="content" class="modal">
        <%= content %>
      </div>
    </div>
  </div>
</turbo-frame>
