<div
  class="territory-search dropdown"
  data-controller="autocomplete dropdown"
  data-row-autosave-param="true"
  data-autocomplete-path-value="<%= path %>"
  data-action="<%= actions %>">
    <%= hidden_field_tag @field, @territory&.id, data: {"autocomplete-target": "selected"}, form: @form %>
    <%= text_field_tag :q, @territory&.to_s, autocomplete: "off",
          data: {
            autocomplete_target: "searchInput",
            dropdown_target: "trigger",
            new_territory_target: "input",
            action: "autocomplete#input"
          } %>
  <div
    data-autocomplete-target="suggestionList"
    class="search-result dropdown__content dropdown__content--padded"
    data-dropdown-target="content">
  </div>
</div>
