
<div class="card__main-content">
  <h2 class="section__title"><%= AccessGroup.model_name.human(count: 2) %></h2>
  <ul>
    <%= render @access_groups.includes(:users) %>

    <%= render AccessGroup.new(map: @map, users: [User.new]) %>

    <%= render AccessGroup.new(map: @map, token: AccessGroup.new_token) %>
  </ul>
</div>
