<%# params: map %>
<%# renders a form for a map name %>

<h2 id="<%= dom_id(map, :name) %>">
  <%= link_to map.name.presence || t(".map_with_no_name"), edit_map_path(map), class: "button button--extra-large button--link",
        data: {turbo_frame: "modal",
               restricted_target: "restricted", restricted_authorizations: %w[owner].to_json} %>
</h2>
