<div class="map__toolbar__container">
  <div data-map-target="toolbarLeft">
  </div>
  <div>
    <button
      class="map__toolbar__add-button is-hidden"
      data-map-target="addButton"
      data-action="map#toggleMode">
    </button>
  </div>
  <div class="map__toolbar__right" data-map-target="toolbarRight">
  </div>
</div>
