/* GXIS MAIN CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* AMBIENT COLOR */
  --color-bg-ambient-10: #fffefa;
  --color-bg-ambient-20: #fcfaf3;
  --color-bg-ambient-30: #f7f4eb;
  /* GREY COLOR */
  --color-grey-10: #f7f7f5;
  --color-grey-20: #f0efed;
  --color-grey-30: #e8e7e6;
  --color-grey-40: #d4d3d2;
  --color-grey-50: #afaeaa;
  --color-grey-60: #8e8e8c;
  --color-grey-70: #6b6a68;
  --color-grey-80: #545452;
  --color-grey-90: #3d3d3c;
  --color-grey-100: #212120;
  /* GREEN COLOR */
  --color-green-10: #d7e9dd;
  --color-green-20: #c3dbcb;
  --color-green-30: #a8c9b4;
  --color-green-40: #96baa3;
  --color-green-50: #80a68d;
  --color-green-60: #638e72;
  --color-green-70: #4d7a5d;
  --color-green-80: #376647;
  --color-green-90: #1d4c2e;
  --color-green-100: #0d2e18;
  /* ATTENTION COLOR */
  --color-attention-10: #ffeece;
  --color-attention-20: #fdda94;
  --color-attention-30: #fabc1e;
  --color-attention-40: #915e04;
  /* ERROR COLOR */
  --color-error-10: #ffedee;
  --color-error-20: #fbc5c9;
  --color-error-30: #e62c41;
  --color-error-40: #b01a2b;
  /* INFO COLOR */
  --color-info-10: #d8f0f9;
  --color-info-20: #70caf1;
  --color-info-30: #299ae5;
  --color-info-40: #026ebb;
  /* SUCCES COLOR */
  --color-succes-10: #ecfadc;
  --color-succes-20: #c4ed98;
  --color-succes-30: #8bbd54;
  --color-succes-40: #46790f;
  /* MAIN FONT */
  --font-serif: Georgia, "Times New Roman", Times, serif, Regular;
  --font-sans: Verdana, Geneva, Tahoma, sans-serif;
  --font-mono: Menlo, "DejaVu Sans Mono" monospace;
}

/* HEADER */

.header {
  height: 140px;
  background-color: var(--color-bg-ambient-20);
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: var(--color-green-50);
  font-size: 54px;
  font-family: var(--font-serif);
  font-variant: normal;
  font-weight: lighter;
  padding-top: 32px;
  margin-left: 1em;
  letter-spacing: -1.3px;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 55px;
}

.header-login {
  color: var(--color-green-70);
  font-family: var(--font-serif);
  font-size: 18px;
  text-decoration: none;
  margin-right: 1.5em;
}

.header-subs {
  background-color: var(--color-green-70);
  color: white;
  padding: 8px;
  font-family: var(--font-serif);
  font-size: 18px;
  font-weight: lighter;
  border-radius: 4px;
  text-decoration: none;
  letter-spacing: 0.44px;
}

.button-trad {
  padding: 4px 4px 4px 4px;
  background-color: white;
  border-color: black;
  margin-left: 1.8em;
  border-radius: 4px;
  border-style: double;
  border-spacing: 4px;
}

.header-trad-logo {
  margin: 4px 4px;
  display: flex;
  justify-content: center;
}

/* MAIN LANDING PAGE */

body {
  background-color: var(--color-bg-ambient-10);
}

.main-text-landing {
  padding: 64px 120px;
  font-size: 20px;
  font-family: var(--font-serif);
  font-weight: 100;
  letter-spacing: 1.2px;
  color: var(--color-grey-90);
}

.main-text-landing-ul {
  margin-left: 1em;
}

.main-text-landing-p {
  margin-top: 1em;
}

/* FOOTER LANDING PAGE */

.footer-text-landing {
  padding: 0px 120px;
  color: var(--color-grey-60);
  font-size: 14px;
  font-family: var(--font-serif);
  letter-spacing: 1.143px;
}
