/* GXIS MAIN CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* AMBIENT COLOR */
  --color-bg-ambient-10: #fffefa;
  --color-bg-ambient-20: #fcfaf3;
  --color-bg-ambient-30: #f7f4eb;
  /* GREY COLOR */
  --color-grey-10: #f7f7f5;
  --color-grey-20: #f0efed;
  --color-grey-30: #e8e7e6;
  --color-grey-40: #d4d3d2;
  --color-grey-50: #afaeaa;
  --color-grey-60: #8e8e8c;
  --color-grey-70: #6b6a68;
  --color-grey-80: #545452;
  --color-grey-90: #3d3d3c;
  --color-grey-100: #212120;
  /* GREEN COLOR */
  --color-green-10: #d7e9dd;
  --color-green-20: #c3dbcb;
  --color-green-30: #a8c9b4;
  --color-green-40: #96baa3;
  --color-green-50: #80a68d;
  --color-green-60: #638e72;
  --color-green-70: #4d7a5d;
  --color-green-80: #376647;
  --color-green-90: #1d4c2e;
  --color-green-100: #0d2e18;
  /* ATTENTION COLOR */
  --color-attention-10: #ffeece;
  --color-attention-20: #fdda94;
  --color-attention-30: #fabc1e;
  --color-attention-40: #915e04;
  /* ERROR COLOR */
  --color-error-10: #ffedee;
  --color-error-20: #fbc5c9;
  --color-error-30: #e62c41;
  --color-error-40: #b01a2b;
  /* INFO COLOR */
  --color-info-10: #d8f0f9;
  --color-info-20: #70caf1;
  --color-info-30: #299ae5;
  --color-info-40: #026ebb;
  /* SUCCES COLOR */
  --color-succes-10: #ecfadc;
  --color-succes-20: #c4ed98;
  --color-succes-30: #8bbd54;
  --color-succes-40: #46790f;
  /* MAIN FONT */
  --font-serif: Georgia, "Times New Roman", Times, serif, Regular;
  --font-sans: Verdana, Geneva, Tahoma, sans-serif;
  --font-mono: Menlo, "DejaVu Sans Mono", monospace;
  /* COLOR TABLE */
  --justify-important: center;
  --color-bg: #fff;
  --color: #118bee;
  --color-border: #999;
  --color-bg-secondary: #e9e9e9;
  --color-text: #000;
  /* MAP SIZE */
  --nav-height: 11rem;
  --footer-height: 4rem;
  --border-radius: 4px;
}

/* HEADER */

nav {
  height: var(--nav-height);
  background-color: var(--color-bg-ambient-20);
  display: flex;
  justify-content: space-between;
  font-family: var(--font-serif);
}

nav > h1 {
  margin-top: 0.8em;
  font-size: 54px;
  letter-spacing: -1.3px;
  font-weight: lighter;
  margin-left: 1em;
}

nav > h1 > a {
  color: var(--color-green-50);
  text-decoration: none;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 55px;
  gap: 1.8rem;
  letter-spacing: 0.44px;
}

.header-login {
  color: var(--color-green-70);
  text-decoration: none;
}

.header-subs {
  background-color: var(--color-green-70);
  color: white;
  padding: 8px;
  font-weight: lighter;
  border-radius: var(--border-radius);
  text-decoration: none;
}

.button-trad {
  padding: 4px;
  background-color: white;
  border-color: var(--color-grey-30);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: 2px;
}

.button-trad > svg {
  display: flex;
  justify-content: space-between;
  margin: 6px;
  fill: var(--color-green-40);
}

hr.solid {
  border-top: 0.5px solid var(--color-grey-30);
}

/* MAIN LANDING PAGE */
body {
  background-color: var(--color-bg-ambient-10);
  font-size: 18px;
}

a {
  color: var(--color-green-70);
}
p {
  padding-top: 8px;
  padding-bottom: 8px;
}
.main-text-landing {
  padding: 64px 120px;
  font-family: var(--font-serif);
  font-weight: 100;
  letter-spacing: 1.111px;
  color: var(--color-grey-90);
  max-width: 950px;
  line-height: 20px;
}

.main-text-landing-ul {
  margin-left: 1em;
}

.main-text-landing-p {
  margin-top: 1em;
}

/* FOOTER LANDING PAGE */

footer {
  padding-left: 120px;
  color: var(--color-grey-60);
  font-size: 14px;
  font-family: var(--font-serif);
  letter-spacing: 1.143px;
  height: var(--footer-height);
}

/* LAYER PART */

.layers-title {
  text-align: center;
  font-family: var(--font-serif);
  color: var(--color-grey-90);
  display: flex;
  justify-content: center;
}

.layers-table {
  display: flex;
  justify-content: center;
  font-family: var(--font-sans);
  color: var(--color-grey-90);
  border-collapse: collapse;
}

/* TABLES */
table {
  border-spacing: 0;
  display: block;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 0;
  white-space: nowrap;
  position: relative;
  border-radius: 3px;
  margin-top: 4em;
}

table td,
table th,
table tr {
  padding: 0rem;
  text-align: var(--justify-important);
  border-color: var(--color-grey-40);
}

table thead {
  background-color: var(--color-grey-20);
  border-collapse: collapse;
  border-radius: var(--border-radius);
  color: var(--color-grey-80);
  margin: 0;
  padding: 0;
}

th {
  position: sticky;
  top: 0;
  background-color: var(--color-grey-20);
  z-index: 1;
}

td {
  border: 0.5px solid var(--color-grey-50);
  height: 2rem;
  background-color: white;
}

.numerical {
  font-family: var(--font-mono);
  text-align: right;
}

/* MAP */
.data-with-map {
  overflow-y: hidden;
  height: calc(100vh - var(--nav-height) - var(--footer-height));
  display: flex;
  width: 100%;
}

.data-with-map > .data {
  width: 50%;
  position: relative;
}

.data .tooltip {
  position: absolute;
  padding: 16px;
  width: 320px;
  top: 24px;
  right: 40px;
  background-color: var(--color-info-10);
  color: var(--color-info-40);
  border-radius: var(--border-radius);
}

.data-with-map > .data > table {
  height: 100%;
}

.data-with-map > .map {
  width: 50%;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  text-decoration: none;
  padding: 8px 12px;
}

.dropdown-content a:hover {
  color: var(--color-grey-50);
}

.dropdown-content {
  border-radius: var(--border-radius);
  display: none;
  position: fixed;
  background-color: var(--color-bg);
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  color: var(--color-text);
  padding: 0.2rem;
  font-size: 80%;
  overflow: visible !important;
}

.dropdown.is-active > .dropdown-content {
  display: block;
}

.actions {
  display: flex;
}

.is-hidden {
  display: none;
}

.row-actions {
  position: sticky;
  right: 0;
}

.edit th {
  resize: horizontal;
  overflow-x: scroll;
  overflow-y: visible;
}

a b,
a em,
a i,
a strong,
button {
  display: inline-block;
  line-height: 1.5;
  margin: 0.5rem 0;
  padding: 0.1rem 0.2rem;
  border: 0;
}

.table-head {
  font-family: var(--font-serif);
  font-size: 12px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-color: var(--color-grey-50);
  font-weight: 400;
  cursor: pointer;
}

button {
  font-family: var(--font-serif);
}

button:active {
  filter: brightness(0.85);
}

button:hover {
  cursor: pointer;
}

a b,
a strong,
button {
  border: none;
  color: var(--color-grey-80);
  outline: none;
}

button:disabled,
input:disabled {
  background: var(--color-bg-ambient-20);
  border-color: var(--color-bg-ambient-20);
  color: var(--color-grey-80);
  cursor: not-allowed;
}

a em,
a i {
  border: 2px solid var(--color);
  color: var(--color);
  display: inline-block;
  padding: 1rem 2rem;
}

button[disabled]:hover {
  filter: none;
}

form {
  display: block;
  max-width: 460px;
  text-align: left;
}

form header {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

input,
label,
select,
textarea {
  display: block;
  font-size: inherit;
  max-width: 460px;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.submit_form {
  background-color: var(--color-green-70);
  border: none;
  color: var(--color-bg);
  line-height: 1.5;
  margin: 0.5rem 0;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  border-radius: var(--border-radius);
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  align-items: center;
  font-weight: lighter;
  position: relative;
  top: 1px;
}

input,
select,
textarea {
  border-color: var(--color-grey-50);
  border-width: 1px;
  border-radius: 2px;
  box-shadow: 0px 1px 4px var(--color-grey-40);
  height: 40px;
  vertical-align: middle;
}

td input:focus {
  background-color: RGBA(215, 233, 221, 0.5);
  outline: 2px solid var(--color-grey-40);
}

input:focus {
  border-color: var(--color-info-30);
  outline: 2px solid var(--color-info-20);
}

td {
  padding: 0;
  background-color: white;
}

td input {
  padding: 0;
  border: 0;
  width: 100%;
}

input[readonly],
textarea[readonly] {
  background-color: var(--color-bg-ambient-20);
}

label {
  margin-bottom: 0.2rem;
  font-family: var(--font-serif);
}

/* SHOW PART */
.nav-show {
  align-self: center;
}

.search-result {
  position: absolute;
  border-radius: 5px;
  border: black;
  border-width: 1px;
  background-color: white;
  text-align: left;
  padding: 0.5rem 1rem;
}

main {
  display: flex;
}

.centered-main {
  margin: auto;
  padding: 24px;
}

.field {
  padding-top: 16px;
}

.field > br {
  display: block;
}

.field > label {
  vertical-align: middle;
}

h2 {
  text-align: center;
  color: var(--color-green-90);
  margin: 16px;
  margin-top: 0;
}

input.slim {
  height: 20px;
}

.slim {
  font-size: 12px;
}

radio.slim {
  font-size: 12px;
  max-height: 10px;
}

.submit_form.slim {
  padding: 0.1rem 0.2rem;
}

#error_explanation {
  background-color: var(--color-attention-20);
  font-size: 12px;
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
}

#error_explanation h2 {
  font-size: 16px;
  color: var(--color-green-100);
}

.field_with_errors {
  background-color: var(--color-attention-30);
  display: inline-block;
}

.dragbar {
  background-color: white;
  color: var(--color-grey-70);
  border-style: double;
  height: 100%;
  float: right;
  width: 6px;
  cursor: move;
}

#layer-header {
  display: flex;
  gap: 1rem;
}

#layer-header > * {
  margin: 0;
}

.editable {
  cursor: pointer;
  font-family: var(--font-sans);
}

.editable:after {
  content: "🖉";
}

.map button {
  margin: 0;
  border-radius: 0;
  border-color: var(--color-grey-30);
}

.maplibregl-ctrl-group {
  display: flex;
  flex-direction: row-reverse;
  border-style: double;
  border-color: var(--color-grey-50);
  border-width: 2px;
}
.maplibregl-ctrl-zoom-out.mapboxgl-ctrl-zoom-out {
  border: none;
}

.mapboxgl-ctrl-group:not(:empty),
.maplibregl-ctrl-group:not(:empty) {
  box-shadow: none;
}
