<div class="card__main-content">
  <h2 class="form__header"><%= t(".title") %></h2>
  <div class="form__field">
    <%= render @operation %>
  </div>
</div>

<div class="card__footer-content">
  <button class="button button--confirm" data-action="modal#close">
    <%= t("common.ok") %>
  </button>
</div>
