<div class="legal__container">
  <%= render "legal_nav" %>

  <h1 class="legal__h1">Protection des données</h1>
  <h2 class="legal__h2">Cookies</h2>
  <p>
    Nous utilisons deux <a href="https://www.cnil.fr/fr/definition/cookie">cookies</a> à des fins purement techniques.
    Ces cookies sont associés exclusivement au site <b><a href="https://cocarto.com">cocarto.com</a></b>. <br>
    Ils ne sont jamais partagés avec d’autres domaines. <br>
    Ils ne servent pas à suivre l’utilisateur. <br>
    Ces cookies étant strictement techniques et nécessaires au fonctionnement du site, ils ne nécessitent pas de recueillir le consentement<a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies/lignes-directrices-modificatives-et-recommandation">*</a>.
  </p>

  <ul class="legal__ul">
    <li><code class="legal__code">_cocarto_session</code> correspond à la session courante.</li>
    <li><code class="legal__code">remember_user_token</code> permet de se souvenir de garder le compte connecté.</li>
  </ul>

  <h2 class="legal__h2">Conservation des données</h2>
  <h3 class="legal__h3">Base de données</h3>
  <p>
    Les données saisies par l’utilisateur (carte, attributs…) sont conservées jusqu’à leur suppression par l’utilisateur.
  </p>

  <p>
    Des sauvegardes régulières de la base de données sont effectuées.
    Elles permettent de rétablir le service de modification ou destruction involontaire des données.
    Ces données sont conservées un mois par notre hébergeur<a href="https://doc.scalingo.com/databases/postgresql/start#on-demand-backups">*</a>.
  </p>

  <h3 class="legal__h3">Journaux</h3>
  <p>
    Les journaux d’accès (logs) permettent d’analyser des dysfonctionnements du site.
    Ces données sont conservées pendant un an par notre hébergeur<a href="https://doc.scalingo.com/platform/app/logs#log-retention">*</a>.
  </p>

  <p>
    Les données conservées contiennent l’adresse IP utilisée pour se connecter au service ainsi que les informations transmises par le navigateur comme le <i>User Agent</i>.
  </p>

  <h3 class="legal__h3">Transmission de données à des tiers</h3>
  <p>
    Les données de l’utilisateur (adresse utilisée pour la connexion, données saisies) ne sont jamais transmises à des tiers.
  </p>

  <p>
    Des données techniques permettant l’analyse de performance et d’erreurs sont transmises à une entité tierce (<a href="https://sentry.io/">Sentry</a>).
  </p>

  <p>
    Codeurs en Liberté est une entreprise immatriculée en France, de même que l’hébergeur ; les serveurs sont physiquement en France (<a href="https://doc.scalingo.com/platform/internals/regions">osc-fr1</a>).
    À la demande des autorités judiciaires, nous pouvons être amenés à transférer des données aux autorités.
  </p>

  <h2 class="legal__h2">Droit aux données</h2>
  <p>
    Il n’existe pas pour l’instant de mécanisme automatique de récupération des données. <br>
    Si vous souhaitez un export de toutes vos données, envoyez-nous un message à <code class="legal__code">dpo@cocarto.com</code>.
  </p>
</div>
