<div class="legal__container">
  <%= render "legal_nav" %>

  <h1 class="legal__h1">Conditions générales d’utilisation<a href="https://www.francenum.gouv.fr/guides-et-conseils/developpement-commercial/site-web/rediger-des-conditions-generales-dutilisation">*</a></h1>

  <p>
    <b><a href="https://cocarto.com">cocarto.com</a></b> est un site hébergeant une instance du logiciel cocarto.
  </p>

  <h2 class="legal__h2">Niveau de service</h2>
  <p>
    Dans sa version gratuite, nous n’offrons aucune garantie de disponibilité du service et de temps de réponse aux questions.
  </p>

  <p>
    Les utilisateurs payants ont des conditions particulières définissant les niveaux de services garantis et la compensation lorsqu’ils ne sont pas atteints.
  </p>

  <h2 class="legal__h2">Propriété intellectuelle</h2>

  <p>
    Toutes les données saisies appartiennent aux utilisateurs du site et ne seront pas utilisées par l’éditeur.
  </p>

  <h2 class="legal__h2">Confidentialité</h2>
  <p>
    Nous ne consultons pas les données saisies par l’utilisateur. Nous vous demanderons votre consentement pour accéder aux données si nous en avons besoin pour une analyse technique.
  </p>

  <h2 class="legal__h2">Blocage des comptes</h2>

  <p>
    Nous nous réservons le droit de bloquer l’accès au service <b><a href="https://cocarto.com">cocarto.com</a></b> lorsque l’usage pose un risque à la stabilité du service.
  </p>

  <p>
    Nous refusons un usage de <b><a href="https://cocarto.com">cocarto.com</a></b> qui participe à la propagation des discours de haine, a fortiori contre des personnes marginalisées, banalise et encourage les violences qu'elles subissent au quotidien.
    Si un tel usage nous est signalé, nous nous réservons le droit de bloquer l’accès, voire de supprimer les données.
  </p>
</div>
