<div class="legal__container">
  <%= render "legal_nav" %>

  <h1 class="legal__h1">Politique de confidentialité</h1>

  <h2 class="legal__h2">Qui est responsable de cocarto ?</h2>
  <p>cocarto est développé au sein de Codeurs en liberté. cocarto est un outil de collaboration cartographique qui permet d’associer des informations à un territoire.</p>
  <p>Le responsable de l’utilisation des données est la société Codeurs en liberté représentée par Vincent Lara, Président de Codeurs en liberté.</p>

  <h2 class="legal__h2">Quelles sont les données que nous manipulons ?</h2>
  <p>cocarto manipule les données personnelles suivantes :</p>
  <ul class="legal__ul">
    <li>Adresse e-mail ;</li>
    <li>Mot de passe.</li>
  </ul>

  <h2 class="legal__h2">Pourquoi manipulons-nous ces données ?</h2>
  <p>cocarto manipule des données à caractère personnelles pour les raisons suivantes :</p>
  <ul class="legal__ul">
    <li>Inscription sur la plateforme ;</li>
    <li>Connexion sur la plateforme .</li>
  </ul>

  <h2 class="legal__h2">Qu’est-ce qui nous autorise à manipuler ces données ?</h2>
  <p>cocarto manipule des données personnelles en se basant sur :</p>
  <ul><li>L’intérêt légitime poursuivi par le responsable du traitement au sens de l’article 6-1 f) du RGPD</li></ul>

  <h2 class="legal__h2">Pendant combien de temps conservons-nous ces données ?</h2>

  <table class="legal__table">
    <thead>
      <tr><th>Type de données</th><th>Durée de la conservation</th></tr>
    </thead>
    <tbody>
      <tr><td>Données de contact : adresse e-mail</td><td>2 ans à compter de la suppression du compte et au bout de 6 mois d’inactivité sur le compte.</td></tr>
      <tr><td>Données relatives à la newsletter</td><td>Jusqu’à la demande de retrait à la newsletter.</td></tr>
    </tbody>
  </table>

  <h2 class="legal__h2">Quels droits avez-vous ?</h2>
  <p>Vous disposez :</p>
  <ul class="legal__ul">
    <li>D’un droit d’information et d’un droit d’accès à vos données ;</li>
    <li>D’un droit de rectification et le cas échéant de suppression des données ;</li>
    <li>D’un droit d’opposition ;</li>
    <li>D’un droit à la portabilité de vos données.</li>
  </ul>
  <p>Pour les exercer, contactez-nous à : <a href="mailto:bonjour@cocarto.com">bonjour@cocarto.com</a></p>
  <p>Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes en mesure de vous identifier. Dans le cas où nous ne parvenons pas à vous identifier, nous pouvons être amenés à vous demander une preuve de votre identité.</p>
  <p>Pour vous aider dans votre démarche, vous trouverez un modèle de courrier élaboré par la CNIL <a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces">ici</a>.</p>
  <p>Nous nous engageons à vous répondre dans un délai raisonnable qui ne saurait dépasser 1 mois à compter de la réception de votre demande.</p>

  <h2 class="legal__h2">Qui va avoir accès à ces données ?</h2>
  <p>Les accès aux données sont strictement encadrés et juridiquement justifiés. Les personnes suivantes vont avoir accès aux données :</p>
  <ul class="legal__ul">
    <li>Les membres de Codeurs en Liberté qui ont besoin des données dans leurs missions ou qui y ont accès de fait (développeur, etc.) ;</li>
    <li>Les membres de ButtonDown qui ont besoin des données dans le cadre de la gestion de la newsletter.</li>
  </ul>

  <h2 class="legal__h2">Quelles mesures de sécurité mettons-nous en place ?</h2>
  <p>Nous mettons en place plusieurs mesures pour sécuriser les données :</p>
  <ul class="legal__ul">
    <li>Stockage des données en base de données ;</li>
    <li>Cloisonnement des données ;</li>
    <li>Mesures de traçabilité ;</li>
    <li>Surveillance ;</li>
    <li>Protection contre les virus, malwares et logiciels espions ;</li>
    <li>Protection des réseaux ;</li>
    <li>Sauvegarde ;</li>
    <li>Mesures restrictives limitant l’accès physiques aux données à caractère personnel.</li>
  </ul>

  <h2 class="legal__h2">Qui nous aide à manipuler les données ?</h2>
  <p>Certaines des données sont envoyées à d’autres acteurs, appelés « sous-traitants de données », pour qu’ils nous aident à les manipuler. Nous nous assurons qu’ils respectent strictement le RGPD et qu’ils apportent des garanties suffisantes en matière de sécurité.</p>

  <table class="legal__table">
    <thead>
    <tr><th>Sous-traitant</th><th>Pays destinataire</th><th>Traitement réalisé</th><th>Garanties</th></tr>
    </thead>
    <tbody>
    <tr><td>Scalingo</td><td>France</td><td>Hébergement</td><td><a href="https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles">https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles</a></td></tr>
    <tr><td>Sentry</td><td>USA</td><td>Tracking d’erreurs et monitoring</td><td><a href="https://sentry.io/privacy/">https://sentry.io/privacy/</a></td></tr>
    <tr><td>ButtonDown</td><td>USA</td><td>Gestion de la newsletter</td><td><a href="https://buttondown.email/legal/privacy">https://buttondown.email/legal/privacy</a></td></tr>
    </tbody>
  </table>

  <h2 class="legal__h2">Cookies</h2>
  <p>En application de l’article 5(3) de la directive 2002/58/CE modifiée concernant le traitement des données à caractère personnel et la protection de la vie privée dans le secteur des communications électroniques, transposée à l’article 82 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, les traceurs ou cookies suivent deux régimes distincts.</p>
  <p>Les cookies strictement nécessaires au service ou ayant pour finalité exclusive de faciliter la communication par voie électronique sont dispensés de consentement préalable au titre de l’article 82 de la loi n°78-17 du 6 janvier 1978. Les cookies recensés sur cocarto sont deux cookies techniques et nécessaires au fonctionnement du site, ils ne nécessitent pas le recueil du consentement.</p>
  <p>Les cookies n’étant pas strictement nécessaires au service ou n’ayant pas pour finalité exclusive de faciliter la communication par voie électronique doivent être consenti par l’utilisateur.</p>
  <p>Ce consentement de la personne concernée pour une ou plusieurs finalités spécifiques constitue une base légale au sens du RGPD et doit être entendu au sens de l’article 6-a du Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données.</p>
  <p>Un cookie est un fichier déposé sur votre terminal lors de la visite d’un site. Il a pour but de collecter des informations relatives à votre navigation et de vous adresser des services adaptés à votre terminal (ordinateur, mobile ou tablette).</p>

  <h2 class="legal__h2">Zones de champs libres</h2>
  <p>Attention à vos données ! Si nous vous encourageons à nous communiquer vos difficultés, nous vous demandons de ne pas nous transmettre d’informations trop sensibles. Notamment ne communiquez pas vos opinions philosophiques, syndicales, politiques ou sur votre vie sexuelle. Ces données sont trop personnelles !</p>
</div>
