<div class="legal__container">
  <%= render "legal_nav" %>

  <h1 class="legal__h1">Mentions légales<a href="https://www.economie.gouv.fr/entreprises/site-internet-mentions-obligatoires">*</a></h1>

  <b><a href="https://cocarto.com">cocarto.com</a></b> est édité et administré par <a href="https://annuaire-entreprises.data.gouv.fr/entreprise/821611431">Codeurs en Liberté</a>,
  <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000684004/2021-01-13/">SAS coopérative loi 47</a> à capital variable.

  <ul class="legal__ul">
    <li><b>Siren</b> : 821611431</li>
    <li><b>Adresse</b> : 118 avenue Jean Jaurès — 75019 Paris</li>
    <li><b>Contact</b> : bonjour@codeursenliberte.fr</li>
    <li><b>Hébergeur</b> : le site est hébergé par <a href="https://scalingo.com/">Scalingo</a> 3 place de Haguenau — 67000 Strasbourg</li>
  </ul>
</div>
