<div class="legal__container">
  <%= render "legal_nav" %>

  <h1 class="legal__h1">Conditions générales d’utilisation<a href="https://www.francenum.gouv.fr/guides-et-conseils/developpement-commercial/site-web/rediger-des-conditions-generales-dutilisation">*</a></h1>
  <p>Les présentes conditions générales d’utilisation (dites « CGU ») fixent le cadre juridique de « cocarto » et définissent les conditions d’accès et d’utilisation des services par l’Utilisateur.</p>

  <h2 class="legal__h2">Article 1 - Champ d’application</h2>
  <p>L’inscription est gratuite et réservée aux utilisateurs de la plateforme numérique cocarto.</p>

  <h2 class="legal__h2">Article 2 – Objet</h2>
  <p>cocarto est un outil de collaboration cartographique permettant d’associer des informations à un territoire. Il permet par exemple de préparer le parcours et les étapes d’une randonnée ou de répertorier des défauts d’infrastructure.</p>

  <h2 class="legal__h2">Article 3 – Définitions</h2>
  <p>« L’Utilisateur » est toute personne ayant un compte cocarto lui permettant d’utiliser le service.</p>
  <p>Les « Services » sont les fonctionnalités offertes par la plateforme pour répondre à ses finalités.</p>

  <h2 class="legal__h2">Article 4 – Fonctionnalités</h2>
  <h3 class="legal__h3">4.1 Inscription sur la plateforme numérique cocarto</h3>
  <p>Chaque Utilisateur peut créer un compte cocarto en renseignant :</p>
  <ul class="legal__ul">
    <li>Son adresse e-mail ;</li>
    <li>Un mot de passe ;</li>
    <li>La confirmation du mot de passe.</li>
  </ul>

  <h3 class="legal__h3">4.2. Connexion au compte cocarto</h3>
  <p>Chaque Utilisateur peut se connecter à son compte cocarto grâce à son adresse e-mail et son mot de passe.</p>

  <h3 class="legal__h3">4.3. Création d’une carte</h3>
  <p>Chaque Utilisateur peut créer une carte sur cocarto et y ajouter des points d’intérêts géographiques visibles par les Utilisateurs ayant accès à la carte et par les administrateurs qui ont le contrôle sur les accès de la carte.</p>

  <h2 class="legal__h2">Article 5 - Responsabilités</h2>
  <h3 class="legal__h3">5.1 L’éditeur de « cocarto »</h3>
  <p>Les sources des informations diffusées sur le site sont réputées fiables, mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.</p>
  <p>L’éditeur s’engage à la sécurisation du site, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies. Il le réalise dans la limite des capacités techniques liées au chiffrement.</p>
  <p>L’éditeur se réserve le droit de bloquer l’accès à la plateforme numérique cocarto lorsque son usage porte un risque quelconque à la stabilité du service.</p>
  <p>L’éditeur se réserve le droit de bloquer l’accès à la plateforme numérique cocarto lorsque l’Utilisateur utilise cocarto pour propager des discours de haine, a fortiori contre des personnes marginalisées, banalise et encourage les violences qu’elles subissent au quotidien. Si un tel usage nous est signalé, nous nous réservons le droit de bloquer l’accès à l’Utilisateur et de supprimer ses données.</p>
  <p>L’éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu au site. Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, le site pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.</p>

  <h3 class="legal__h3">5.2 L’Utilisateur de cocarto</h3>
  <p>L’Utilisateur s’assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l’utilisation de son identifiant et mot de passe.</p>
  <p>Il s’engage à ne pas commercialiser les données reçues et à ne pas les communiquer à des tiers en dehors des cas prévus par la loi.</p>
  <p>Toute information transmise par l’Utilisateur est de sa seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.</p>
  <p>L’Utilisateur s’engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur.</p>

  <h2 class="legal__h2">Article 6 – Propriété intellectuelle</h2>
  <p>L’éditeur de cocarto respecte les droits de propriété intellectuelle de l’Utilisateur. Toutes données saisies par l’Utilisateur lui appartiennent et ne seront pas utilisées par l’éditeur.</p>

  <h2 class="legal__h2">Article 7 – Garantie de service</h2>
  <p>Nous n’offrons aucune garantie de disponibilité de cocarto.</p>

  <h2 class="legal__h2">Article 8 - Mise à jour des conditions d’utilisation</h2>
  <p>Les termes des présentes conditions d’utilisation peuvent être amendés à tout moment, en fonction des modifications apportées à la plateforme, de l’évolution de la législation ou pour tout autre motif jugé nécessaire. Chaque modification donne lieu à une nouvelle version qui est acceptée par les parties.</p>
</div>
