<%# params: row %>
<%# renders a non-editable row in a table. used in layers/rows_ro %>

<tr id="<%= dom_id(row) %>"
    data-controller="point">
  <%= hidden_field_tag "point", RGeo::GeoJSON.encode(row.geometry).to_json, data: {"point-target": "geojson"} %>
  <% row.layer.fields.each do |field| %>
    <% if field.numerical? %>
      <td class="numerical"><%= row.values[field.id] %></td>
    <% else %>
      <td><%= row.values[field.id] %></td>
    <% end %>
  <% end %>
</tr>
