<%# params: layer %>
<%# renders a form for a layer name %>

<h3>
  <%= form_with model: layer do |form| %>
    <%= form.label :name, hidden: true %>
    <%= form.text_field :name,
          data: {
            restricted_target: "restricted",
            restricted_authorizations: %w[owner editor].to_json # cf LayerPolicy#update?
          },
          onfocusout: "this.form.requestSubmit()",
          class: "input--restricted map__toolbar__input" %>
  <% end %>
</h3>
