<%# params: layer %>
<%# renders a header and a form for a layer name, currently unused, see #102 %>

<div id="layer-header" data-controller="edit-toggle">
  <h2
    class="editable"
    data-edit-toggle-target="text"
    data-action="click->edit-toggle#edit">
    <%= layer.name %>
  </h2>
  <%= form_with model: layer, class: "is-hidden", html: {"data-edit-toggle-target": "form", "data-action": "focusout->edit-toggle#submit"} do |form| %>
    <%= form.text_field :name %>
  <% end %>
</div>
