<%# params: layer %>
<%# renders a full table of editable rows for a layer %>

<table>
  <thead class="resizable">
  <tr>
    <% if layer.geometry_territory? %>
      <th></th>
    <% end %>
    <%= render partial: "fields/th", collection: layer.fields, as: :field %>
    <th
      id="delete-column"
      class="row-actions dropdown"
      data-controller="dropdown"
      data-dropdown-placement-value="bottom-end"
      data-dropdown-target="trigger"
      aria-haspopup="true"
      aria-controls="dropdown-menu">
      <span data-action="click->dropdown#toggle" class="chevron">
        <button><span>+</span></button>
      </span>
      <div class="dropdown-content" data-dropdown-target="content" role="menu">
        <%= render "fields/form", field: Field.new(layer: layer) %>
      </div>
    </th>
  </tr>
  </thead>
  <tbody id="rows-tbody">
  <%= render partial: "rows/row_rw", collection: layer.rows, as: :row %>
  </tbody>
</table>

<%= render "rows/new", row: Row.new(layer: layer) %>
