<%# params: layer %>
<%# renders a full table of non-editable rows for a layer %>

<table class="table-show">
  <thead>
  <tr>
    <% if layer.geometry_territory? %>
      <th></th>
    <% end %>
    <% layer.fields.each do |field| %>
      <th class="table-head"> <%= field.label %> </th>
    <% end %>
  </tr>
  </thead>
  <tbody id="rows-tbody">
  <%= render partial: "rows/row_ro", collection: layer.rows, as: :row %>
  </tbody>
</table>
