<%# params: layer %>
<%# renders a tooltip div at the bottom of layers/edit %>

<% if layer.rows.empty? %>
  <div class="tooltip" id="tutorial">
    <%= t(".new_row_description") %>
  </div>
<% elsif layer.fields.empty? %>
  <div class="tooltip" id="tutorial">
    <%= t(".new_field_description") %>
  </div>
<% end %>
