<%= turbo_stream_from @layer %>
<div class="columns is-full-height m-0" data-controller="map">
    <div class="is-2 column">
    <h1>Editing Layer</h1>

    <%= render 'form', layer: @layer %>
    </div>

    <div class="is-5 column" id="data-editor">
        <%= render "points/table" %>
    </div>

    <div class="is-full-height column p-0" id="map" data-map-target="map">
        <%= render 'points/new', layer: @layer %>
    </div>
</div>
