<p style="color: green"><%= notice %></p>

<div>
  <div class="main-actions">
    <%= link_to t("common.back"), @map %>
  </div>
  <div class="main-list">
    <h2>Roles</h2>

    <div id="roles">
      <%= render @roles %>
      <%= render Role.new(map: @map, user: User.new) %>
    </div>
  </div>
</div>
