.add-single-row__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.add-single-row__map {
  right: 0;
  bottom: 0;
  flex-basis: 200px;
}

.add-single-row__crosshair {
  $size: 18px;

  width: $size;
  height: $size;
  z-index: var(--map-overlay-z-index);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: calc($size / -2);
  margin-top: calc($size / -2);
}

.add-single-row__form {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  flex-grow: 1;

  > :last-child {
    flex-grow: 2;
  }
}
