.button {
  color: white;
  border: 0;
  font-size: 14px;
  padding: 8px;
  border-radius: var(--border-radius);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-serif);
  height: 36px;
  min-width: 80px;
  line-height: 1.5;
  width: fit-content;
}

.button--slim {
  height: 28px;
  font-size: 11px;
  line-height: 1;
}

.button--large {
  font-size: 16px;
  height: 40px;
}

.button--confirm {
  background-color: var(--color-green-70);

  &:hover:not([disabled]) {
    background-color: var(--color-green-90);
  }

  &:active {
    background-color: black;
  }
}

.button--delete {
  background-color: var(--color-attention-30);

  &:hover:not([disabled]) {
    background-color: var(--color-attention-40);
  }

  &:active {
    background-color: black;
  }
}
