// “Card”. Can be used in a dropdown__content.

.card__main-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__main-content--slim {
  padding: 8px;
  gap: 6px;
}

.card__footer-content {
  background-color: var(--color-bg-ambient-20);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 16px;
  display: flex;
  justify-content: end;
  gap: 16px;
}
