// Content layout for all regular pages (everything but maps/show)
.container {
  padding: var(--content-padding);
  max-width: var(--content-max-width);
  width: 100%;
}

.centered-main {
  // TODO: use container--centered instead and remove it
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.section {
  display: flex;
  gap: 46px;
  flex-direction: column;
  max-width: 600px;
}

.section + .section {
  margin-top: 64px;
}

.section--center {
  // Default is left
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.section__title {
  color: var(--color-text);
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}

.subsection__title {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 400;
}

.bordered-box {
  background-color: var(--color-bg);
  border-style: double;
  border-color: var(--color-grey-100);
  border-width: 3px;
}
