.container {
  padding: var(--content-padding);
  max-width: var(--content-max-width);
  width: 100%;
}

.centered-main {
  // TODO: use container--centered instead and remove it
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.container--centered {
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
}

.section {
  display: flex;
  gap: 2.875rem;
  flex-direction: column;
  max-width: 520px;
}

.bordered-box {
  margin: 32px;
  background-color: var(--color-bg);
  border-style: double;
  border-color: var(--color-grey-100);
  border-width: 3px;
}

.section--small {
  max-width: 520px;
}

.section__title {
  color: var(--color-text);
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}

.subsection__title {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 400;
}
