.dropdown {
  .layer-dropdown-content {
    display: none;
    padding: 2rem;
    border-bottom: solid 1px var(--color-grey-40);
  }
  .dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: var(--color-bg);
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    color: var(--color-text);
    padding: 0.2rem;
    font-size: 80%;
    top: 0;
    left: 0;
    z-index: 1000;

    a {
      text-decoration: none;
      padding: 3px 6px;

      &:hover {
        color: var(--color-grey-50);
      }
    }
  }

  &.is-active > .dropdown-content {
    visibility: visible;
  }

  &.is-active > .layer-dropdown-content {
    display: block;
  }


  .chevron::after {
    width: 12px;
    height: 12px;
    display: inline-block;
  }

  &.is-active .chevron::after {
    content: url("data:image/svg+xml;utf-8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M16.4855042,10.1425071 C16.9590845,9.85835891 17.5733448,10.011924 17.8574929,10.4855042 C18.1213448,10.9252573 18.0077807,11.4863111 17.6110362,11.7917229 L17.5144958,11.8574929 L12.5144958,14.8574929 C12.2373987,15.0237512 11.8998598,15.0445335 11.6076523,14.9198398 L11.4855042,14.8574929 L6.48550424,11.8574929 C6.01192398,11.5733448 5.85835891,10.9590845 6.14250707,10.4855042 C6.40635894,10.0457511 6.95484827,9.88192951 7.41103258,10.088275 L7.51449576,10.1425071 L12,12.833 L16.4855042,10.1425071 Z' fill='currentcolor' fill-rule='evenodd'/></svg>");
  }

  &:not(.is-active) .chevron::after {
    content: url("data:image/svg+xml;utf-8,<svg viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'><g fill='none' fill-rule='evenodd'><path d='M0 0h16v16H0z'/><path d='M10.723 6.584a.5.5 0 0 1 .625.775l-.07.057-3 2a.5.5 0 0 1-.468.047l-.087-.047-3-2a.5.5 0 0 1 .475-.875l.08.043L8 8.398l2.723-1.814Z' fill='currentcolor'/></g></svg>");
  }
}
