// Rules specific to the Field model forms

// Type-specific parameters (territory types, enum values text fields)
// are displayed as a subsection of the type radio
.field-form__type-param {
  margin: 0.5rem 0 0.5rem 1rem;
}

.field-form__type-radio:not(:checked) ~ .field-form__type-param {
  display: none;
}

.field-form__file-input__file-list {
  list-style: none;
  padding-left: 16px;
}
