.header {
  background-color: var(--color-bg-ambient-20);
  border-bottom: 0.5px solid var(--color-grey-40);
  display: flex;
}

.header--app {
  height: var(--header-height);
  min-height: var(--header-height);
  padding-inline: 1.5rem;
}

.header--large {
  height: var(--welcome-header-height);
  min-height: var(--welcome-header-height);
  padding-inline: 4rem;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  width: auto;

  &:hover {
    svg {
      fill: var(--color-green-80);
    }
  }

  svg {
    width: auto;
    fill: var(--color-green-70);
  }
}

.header__logo--app {
  svg {
    padding-block: 8px;
    height: 40px;
  }
}

.header__logo--large {
  svg {
    padding-block: 8px;
    height: 52px;
  }
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  letter-spacing: 0.44px;
}
