.icon--regular {
  width: 24px;
  height: 24px;
}

.icon--extra-large {
  width: 48px;
  height: 48px;
}

.icon--small {
  width: 16px;
  height: 16px;
}

.icon--smaller {
  width: 12px;
  height: 12px;
}

.icon--narrow {
  margin-left: -8px;
}

.icon--tinted {
  fill: currentcolor;
}
