/* MAIN LANDING PAGE */
.landing-page__body {
  background-color: var(--color-bg-ambient-10);
}

.landing-page__container {
  display: flex;
  gap: 2.5rem;
}

.landing-page__main-text {
  font-size: 18px;
  color: var(--color-grey-90);
  flex-basis: 50%;
  line-height: 20px;
}

@media (max-width: 850px) {
  .landing-page__container {
    flex-direction: column;
  }

  .landing-page__main-text-landing {
    flex-basis: max-content;
  }
}

.landing-page__main-text__ul {
  margin-left: 1em;
}

.landing-page__main-text__p {
  margin-top: 1em;
}
