// Main table of layer data

table.layer__data {
  border-collapse: collapse;
  border-radius: 6px;
  table-layout: fixed;
  max-width: fit-content;
  overflow-x: auto;
  overflow-y: scroll;
  white-space: nowrap;
  margin: 2em 1rem 0.1em;
  display: block;
  border: solid 1px var(--color-grey-50);
  border-right-width: 0;

  thead.resizable th {
    resize: horizontal;
    overflow-x: auto;
    border-right: solid 1px var(--color-grey-50);
  }
  th:last-child,
  td:last-child {
    border-top-width: 0;
  }

  thead {
    background-color: var(--color-grey-20);
    color: var(--color-grey-80);
    height: 32px;
    th.calculated,
    th.field {
      border-top-width: 0;
      font-family: var(--font-serif);
      letter-spacing: 0.8px;
      text-transform: uppercase;
      text-decoration: underline;
      text-underline-offset: 0.2em;
      text-decoration-color: var(--color-grey-50);
      font-weight: 400;
    }
  }

  th,
  tr.row td {
    text-align: center;
    border: solid 1px var(--color-grey-50);
    font-size: 12px;
    border-bottom-width: 0;
    border-left-width: 0;
    height: 24px;

    button {
      margin-top: 0;
      margin-bottom: 0;
    }

    &.numerical {
      font-family: var(--font-mono);
      text-align: right;
    }
  }

  td.calculated,
  td.field {
    input {
      height: 24px;
      width: 100%;
      box-shadow: none;
      padding: 0 1px;
      margin: 0;
      border: 1px solid transparent;
    }

    input:focus {
      background-color: RGBA(215, 233, 221, 0.5);
      outline: 2px solid var(--color-grey-40);
    }

    input[type="number"] {
      font-family: var(--font-mono);
      text-align: right;
    }
  }
}

form.field {
  input[type="radio"] {
    margin-top: 0;
    margin-bottom: 0;
  }

  font-size: 14px;
}
