// Main table of layer data
.table-container {
  overflow: auto;
  height: 100%;
}

table.layer__data {
  // -- Fancy rounded borders --
  // We don’t collapse the borders to allow rounded cells
  border-spacing: 0;
  $border-radius: 6px;
  $border: solid 1px var(--color-grey-50);
  th {
    border-top: $border;
    &:first-child {
      border-top-left-radius: $border-radius;
    }
    &:last-child {
      border-top-right-radius: $border-radius;
    }
  }
  th,
  td {
    border-bottom: $border;
    border-left: $border;
    &:last-child {
      border-right: $border;
    }
  }
  tr:last-child {
    td:first-child {
      border-bottom-left-radius: $border-radius;
    }
    td:last-child {
      overflow: hidden;
      border-bottom-right-radius: $border-radius;
    }
  }

  .highlight,
  .highlight input {
    background-color: var(--color-attention-10);
  }
  .highlight-transition,
  .highlight-transition input {
    background-color: var(--color-attention-20);
  }
  .bg-transition,
  .bg-transition input {
    transition: background-color 2s;
  }

  table-layout: fixed;
  white-space: nowrap;
  margin: 1em;

  thead.resizable th {
    resize: horizontal;
  }

  thead {
    z-index: 1;
    position: sticky;
    top: 0;
    color: var(--color-grey-80);
    background-color: var(--color-bg-ambient-10);
    height: 32px;
    th {
      text-align: left;
      background-color: var(--color-grey-20);
      &.calculated,
      &.field span {
        font-family: var(--font-serif);
        letter-spacing: 0.8px;
        text-transform: uppercase;
        text-decoration: underline;
        text-underline-offset: 0.2em;
        text-decoration-color: var(--color-grey-50);
        font-weight: 400;
      }
    }
  }

  th,
  tr.row td {
    text-align: center;
    font-size: 12px;
    height: 24px;

    button {
      margin-top: 0;
      margin-bottom: 0;
    }

    &.numerical {
      font-family: var(--font-mono);
      text-align: right;
    }
  }

  td.calculated,
  td.field {
    input,
    select {
      height: 24px;
      width: 100%;
      box-shadow: none;
      padding: 0 1px;
      margin: 0;
      border: 1px solid transparent;
    }

    input:focus {
      background-color: RGBA(215, 233, 221, 0.5);
      outline: 2px solid var(--color-grey-40);
    }

    input[type="number"] {
      font-family: var(--font-mono);
      text-align: right;
    }
  }

  th:last-child,
  td:last-child {
    position: sticky;
    right: 0;
  }
}

form.field {
  input[type="radio"] {
    margin-top: 0;
    margin-bottom: 0;
  }

  font-size: 14px;
}
