.list-element {
  list-style-type: none;
}

.list-element + .list-element {
  border-top: 1px solid var(--color-grey-40);
}

.list-element__row {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.list-element__row--grid {
  align-items: flex-start;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.list-element__row--link {
  text-decoration: none;

  &:hover {
    .list-element__description {
      color: var(--color-grey-80);
    }

    .list-element__row--link-button {
      color: var(--color-green-80);
      background-color: var(--color-bg-ambient-10);
      box-shadow: inset 0 0 0 1px var(--color-grey-30),
        inset 0 0 0 2px var(--color-bg), inset 0 0 0 2.5px var(--color-grey-70);
    }
  }
}

.list-element__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list-element__title {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.2;
}

.list-element__description {
  color: var(--color-grey-60);
  display: flex;
  align-items: center;
  padding: 0;

  span:not(:first-child)::before {
    content: "-";
    padding-inline: 4px;
  }
}

.list-element__row--link-button {
  background-color: var(--color-bg);
  color: var(--color-green-40);
  box-shadow: inset 0 0 0 1px var(--color-grey-30),
    inset 0 0 0 2px var(--color-bg), inset 0 0 0 2.5px var(--color-grey-50);
}
