.map {
  width: 100%;
  height: 100%;
}

.map__toolbar__container {
  display: flex;
  width: 100%;
  position: absolute;
  padding: 1rem;
  z-index: var(--map-overlay-z-index);
  justify-content: space-between;
  align-items: center;
}

.map__toolbar__right {
  display: flex;
  gap: 1rem;
}

.map__toolbar__add-button {
  height: 32px;
  padding: 0 1rem;
  color: white;
  font-size: 16px;
  background-color: var(--color-green-70);
  border-radius: 8px;
  border-width: 4px;
  border-color: rgb(255 255 255 / 66%);
  border-style: solid;
  margin: 0;
}

.maplibregl-ctrl-group {
  display: flex;
  flex-direction: row-reverse;
}

.maplibregl-ctrl-group:not(:empty) {
  border-radius: 4px;
  background-color: var(--color-bg);
  box-shadow: inset 0 0 0 1px var(--color-grey-30),
    inset 0 0 0 2px var(--color-bg), inset 0 0 0 2.5px var(--color-grey-50);

  &:hover:not([disabled]) {
    background-color: var(--color-bg-ambient-20);
    box-shadow: inset 0 0 0 1px var(--color-grey-30),
      inset 0 0 0 2px var(--color-bg), inset 0 0 0 2.5px var(--color-grey-70);
    fill: var(--color-green-80);
  }
}

.maplibregl-ctrl-group button {
  height: 36px;

  &:not(:disabled):hover {
    background: transparent;
  }
}

.maplibregl-ctrl-geocoder {
  // Make the geocoder input look like our inputs
  box-shadow: none;
}

.mapboxgl-ctrl-geocoder--input {
  font-family: var(--font-sans);
  color: var(--color-text);
  border: 1px solid var(--input-border-color);
  border-radius: 2px;
  box-shadow: 0 1px 4px var(--color-grey-40) inset;

  &:focus {
    outline: none;
    border-color: var(--input-border-focus-color);
    box-shadow: 0 0 0 1px #9cf, 0 0 5px 0 #4da2ff66, inset 0 0 5px 0 #1488f333;
  }
}

.map__control__icon {
  cursor: pointer;
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 4px;
  background-color: var(--color-bg);
  box-shadow: inset 0 0 0 1px var(--color-grey-30),
    inset 0 0 0 2px var(--color-bg), inset 0 0 0 2.5px var(--color-grey-50);
  fill: black; // TODO use --color-green-40 / --color-green-80 here and for .maplibregl-ctrl-group

  &:hover:not([disabled]) {
    background-color: var(--color-bg-ambient-20);
    box-shadow: inset 0 0 0 1px var(--color-grey-30),
      inset 0 0 0 2px var(--color-bg), inset 0 0 0 2.5px var(--color-grey-70);
  }

  // Sorry, I was a bit desperated to get those icons work correctly
  a,
  button,
  form {
    color: black;
    background: transparent; // TODO: remove it once we use our own icons for export_as_image and map-pin
    padding: 0;
    width: 24px;
    height: 24px;
    display: inline-block;
  }

  svg {
    pointer-events: none;
  }
}

.map__toolbar__input {
  padding: 7px 9px 9px;
  height: 30px;
}

.map__name__input {
  padding: 7px 9px 9px;
  line-height: 20px;
  text-align: center;
}
