.modal__overlay {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 50%);
  z-index: var(--modal-z-index);
}

.modal__box {
  position: relative;
}

.modal__close-button {
  position: absolute;
  inset: 0 0 auto auto;
}

.modal {
  min-width: 400px;
  max-width: 600px;
}
