// Sassy
@use "common";
@use "container";
@use "layer-table";
@use "field-form";
@use "flash";
@use "icons";
@use "layer-form";
@use "list";
@use "map";
@use "landing-page";
@use "add_single_row";
@use "map_document";
@use "legal";
@use "modal";

input[readonly],
textarea[readonly] {
  background-color: var(--color-bg-ambient-20);
}

.search-result {
  border-radius: 5px;
  border: black;

  ul {
    list-style-type: none;
    text-align: start;

    li {
      cursor: pointer;
      font-family: var(--font-sans);

      &.active,
      &:hover {
        color: var(--color-green-60);
        text-decoration: underline;
      }

      mark {
        background-color: var(--color-attention-20);
      }
    }
  }
}

#error-explanation {
  background-color: var(--color-attention-20);
  font-size: 12px;
  border-radius: var(--border-radius);
  padding: 1rem 2rem;

  h2 {
    font-size: 16px;
    color: var(--color-green-100);
  }
}
