#flexbox-container {
    display: flex;
    #metadata-editor {
        width: 20%;
    }

    #datas {
        width: 80%;
        display: flex;
    }

    #data-editor {
        width: 40%;
    }

    #map {
        width: 60%;
        height: 500px;
    }
}

.hidden {
    display: none;
}
