@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #eee;
  color: #333;
  margin: 0px;
}

label {
  display: block;
}

.radio input {
  float: left;
}
