<table>
    <thead>
        <tr>
            <%= render partial: "fields/th", collection: @layer.fields, as: :field %>
            <th id="delete-column">
                <div class="dropdown is-right" data-controller="dropdown">
                    <div class="dropdown-trigger" data-action="click->dropdown#toggle">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span class="fas fa-fw"><%= fa_icon "plus" %></span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                      <div class="dropdown-content p-2">
                        <%= render 'fields/form' %>
                      </div>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody id="points-tbody">
    <%= render @layer.points %>
    </tbody>
</table>
