<section class="section">
<div class="container">
    <h1>Saisir un nouveau formulaire</h1>
    <p>
        Vous n’avez pas besoin de finir la saisie. En cliquant sur « Sauvegarder »,
        vous obtiendrez un lien pour poursuivre l’édition plus tard.
    </p>
    <%= render "form", row: @row, layer: @layer, anonymous: @anonymous, values: @values %>
</div>
</section>
