<td class="field field-<%= field.id %> <%= "numerical" if field.numerical? %>">
  <% if ["float", "integer"].include?(field.field_type) then %>
    <%= number_field_tag "row_content[#{field.id}]", nil, id: field.id, class: "input", value: value, data: {action: "row#setModified focusin->row#focusIn"}, form: form %>
  <% else %>
    <%= text_field_tag "row_content[#{field.id}]", nil, id: field.id, class: "input", value: value, data: {action: "row#setModified focusin->row#focusIn"}, form: form %>
  <% end %>
</td>
