<div id="<%="#{field.id}-form" %>">
  <% if ["float", "integer"].include?(field.field_type) then %>
    <%= number_field_tag "#{geometry_type}[#{field.label}]", nil, id: field.id, placeholder: field.label  %>
  <% else %>
    <%= text_field_tag "#{geometry_type}[#{field.label}]", nil, id: field.id, placeholder: field.label %>
  <% end %>
</div>
