<th class="field-<%= field.id %>">
    <div class="dropdown" data-controller="dropdown">
        <button aria-haspopup="true" aria-controls="dropdown-menu" data-action="click->dropdown#toggle">
            <span><%= field.label %></span>
        </button>
        <div class="dropdown-content" role="menu">
            <%= button_to field, method: :delete, form_class: "level-item" do %>
                <span>Delete column</span>
            <% end %>
        </div>
    </div>
</th>
