<div class="flash__container">
  <% flash.each do |flash_type, message| %>
    <div class="<%= class_names("flash__message", "message", "message--#{flash_type}") %>">
      <%= message %>
    </div>
  <% end %>
</div>
