
<div data-modal-target="overlay" class="modal__overlay" id="modal-container" data-action="click->modal#closeFromOutside">
  <div class="bordered-box">
    <nav class="modal__navbar">
      <button class="button button--close" data-action="modal#close"><%= embedded_svg "close.svg" %></button>
    </nav>
    <%= turbo_frame_tag "modal" %>
  </div>
</div>
