<%# params: row, layer, values %>
<%# renders a form for an existing or new row, used in rows/edit and rows/new %>

<%= form_with model: [layer, row] do |form| %>
  <% layer.fields.each do |field| %>
    <div>
      <%= form.label field.id, field.label %>
      <div>
        <%= form.text_field field.id, value: values[field.id] %>
      </div>
    </div>
  <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
