<%# params: layer %>

<table>
  <thead>
  <tr>
    <% layer.fields.each do |field| %>
      <th> <%= field.label %> </th>
    <% end %>
  </tr>
  </thead>
  <tbody id="rows-tbody">
  <%= render partial: "rows/show", collection: layer.rows.order(:created_at), as: :row %>
  </tbody>
</table>
